@charset "UTF-8";
/* styles.css */

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.logo img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.login-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-formmm{
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-formmm:hover {
  background-color: #45a049;
}
.login-form [type="submit"]:hover {
  background-color: #45a049;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
}
